body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blanchedalmond;
}
header{
    background-image:url(images/delanipics1.jpg);
    padding: 180px ;
    background-position: right bottom;
}
h3{
    color: black;
}
p{
    color: black;
}
h4{
    color:whitesmoke;
    background-image: url(images/delanipics3.jpg);
    padding: 180px;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
}
h5{
    color:black;
    font-size: larger;
    text-align: center;
}
#portfolio{
    font-weight: bold;
}
div{
    color:black;
    text-align: center;
}
#design_icon{
    float:left;
    width:23.33%;
}
#development{
    margin: 0 auto;
    width:23.33%;
}
#product{
    float:right;
    width:23.33%;
    
}
#work1{
    float:left;
}
#work2{
    float:center;
}
#work3{
    float:right;
}
#work4{
    float:right;
}
#work5{
    float:left;
}
#work6{
    float:center;
}
#work7{
    float:left;
}
#work8{
    float:center;
}
h6{
    background-image: url(images/delanipics.jpg);
    font-size: larger;
    padding: 200px;
}
#name{
    float:left; 
    font-size: larger;
}
#email{
    float:right;
    font-size: larger;
}
#your{
    float: center;
    font-size: larger;
}