body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blanchedalmond;
}
header{
    background-image:url(images/delanipics1.jpg);
    padding: 180px ;
    background-position: right bottom;
}
h3{
    color: black;
}
p{
    color: black;
}
h4{
    color:whitesmoke;
    background-image: url(images/delanipics.jpg);
    padding: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
}