body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header{
    background-image:url(images/delanipics1.jpg);
    padding: 180px ;
    background-position: right bottom;
}
h3{
    color: black;
}
p{
    color: black;
}
h4{
    color:whitesmoke;
    background-image: url(images/delanipics3.jpg);
    padding: 180px;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
}
h5{
    color:black;
    font-size: larger;
    text-align: center;
}
#portfolio{
    font-weight: bold;
    font-size: x-large;
}
div{
    color:black;
    text-align: center;
}
#design_icon{
    float:left;
    width:30%;
    font-weight: lighter;
    font-size: small;
}
#development{
    float:right; 
    width:30%;
    font-weight:lighter;
    font-size:small;
}
#product{
    margin: -3% auto;
    width:30%;
    font-weight: lighter;
    font-size: small;
}
*{
    box-sizing: border-box;
}
#portfolio{
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
}
#work1{
    float:right;
    width:12.5%;
    padding: 2px;
}
#work2{
    float :right;
    margin-right: 100px;
    width:12.5%;
    padding: 2px;
}
#work3{
    margin: -1px auto;
    width:12.5%;
    padding: 2px;
}
#work4{
    float:left;
    width: 12.5%;
    padding: 2px;
    margin: 250px;
    
}
#work5{
    margin: 0 auto;
    width: 12.5%;
    padding: 2px;
}
#work6{
    float:left;
    width:12.5%;
    padding: 2px;
}
#work7{
    float:right;
    width: 12.5%;
    padding: 2px;
}
#work8{
    float:center;
    width: 12.5%;
    padding: 2px;
}
h6{
    background-image: url(images/delanipics.jpg);
    padding: 180px;
    background-position: center;
    color: transparent;
}
#name{
    float: left;
    font-size: x-large;
    width:30%;
    color: transparent;
    
}
#email{
    float: right;
    font-size:x-large;
    color: transparent;
    width:30%
}
#your{
    font-size:x-large;
    float:left;
    color: transparent;
    width:40%
}
#facebook{
    float:inline-start
}
#dribble{
    float:right;
}
#skype{
    float:left;

#pinterest{
    float:left;
}
#flickr{
    float:inline-end;
}
#g_plus{
    float:right;
}
#stumble{
    float:right;
}
#twitter{
    float: right;
}
#you_tube{
    float: right;
}
#behance{
    float:right;
}